NODE_ENV=development

PORT=5000

DATABASE_URL="postgresql://postgres:0192837465@localhost:5432/smart_care"

BETTER_AUTH_SECRET=LJWMTugd0onClaZm5nMDdNwtJHd0wclk

BETTER_AUTH_URL=http://localhost:5000 #